{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block inside %}
    <h1>{% trans "UIC Barcode Configuration" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>{% trans "General" %}</legend>
            {% bootstrap_field form.uic_barcode_format layout="control" %}
            {% bootstrap_field form.uic_barcode_encoding layout="control" %}
            {% bootstrap_field form.uic_barcode_qr_url_prefix layout="control" %}
            {% bootstrap_field form.uic_barcode_order_data_in_barcode layout="control" %}
            {% bootstrap_field form.uic_barcode_order_secret_in_barcode layout="control" %}
            {% bootstrap_field form.uic_barcode_order_position_secret_in_barcode layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Security Provider" %}</legend>
            <p>{% trans "Only one of the following options is required." %}</p>
            <h4>ERA Organisation Code or UIC RICS</h4>
            {% bootstrap_field form.uic_barcode_security_provider_org_code layout="control" %}
            <h4>Alternative Company Code Table</h4>
            <p>
                Use this if you don't have a ERA Organisation Code nor a RICS.
                See the <a href=\"https://github.com/UnionInternationalCheminsdeFer/UIC-barcode/tree/master/registers" target="_blank">UIC's GitHub</a> for registration procedures.
            </p>
            {% bootstrap_field form.uic_barcode_security_provider_alt_code_table layout="control" %}
            {% bootstrap_field form.uic_barcode_security_provider_alt_code_value layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Signing" %}</legend>
            {% bootstrap_field form.uic_barcode_key_id layout="control" %}
            {% bootstrap_field form.uic_barcode_private_key layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}